<h2> Discounts</h2>
<p> <%= link_to "New discount", new_merchant_bulk_discount_path %></p>
 <% @merchant.bulk_discounts.each do |discount| %>
 <p> <%= link_to "Discount id: #{discount.id}",  "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
 <p> Discount Percent: <%= discount.percent %> - Threshold: <%= discount.threshold %> </p>
 <% end %>
